body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.orange-color{
    color: #FC8F49;
}
h1{
    font-size: 50px;
    color: #575757;
}

/* nav start here  */
.nav{
    text-align: center;
    color:#575757;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
ul{
    width: auto;
    margin-left: 45%;
    margin-top: 15px;

}
li{
    display: inline-block;
    padding: 20px 30px;
}

/* nav end here */


/* Top banner section start */

.top-banner{
    display: flex;
    padding-left: 5%;
}
.top-banner p{
    font-size: 20px;
    color: #828282;
    padding: 3% 0;
    line-height: 35px;
}
.top-banner h1{
    font-size: 60px;
    color: #575757;
}

.banner-width{
    width: 50%;
    padding: 10% 7%;
}
.banner-width img{
    width: 80%;
}

.order-btn{
    background-image: linear-gradient(to right,#f1965e, #f55932);
    padding: 13px 30px;
    text-decoration: none;
    border-radius: 25px;
    color: white;
    font-weight: 500;

}
/* Top banner section start */


/* About section start here */
.half-width{
    width: 50%;
    padding: 7% 7%;
}
.half-width img{
    width: 50%;
    height: 100%;
    padding: 5% 0;
    margin-left: 250px;
}
.about-banner{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.about-banner h2{
    font-size: 40px;
    color:#828282;
}
.about-banner p{
    font-size: 20px;
    color:#828282;
    width: 90%;
    line-height: 1.7em;
    padding-bottom: 70px;
}
/* About section end here */


/* My recipe section start here */

.my-recipe{
    margin-top: 100px;
}
.my-recipe p{
    padding-bottom: 20px;
}
.box{
    width: 400px;
    height: 510px;
    line-height: 1.7em;
    display: inline-block;
    margin-left: 4%;
    border-radius: 25px;
    box-shadow: 10px 10px 40px rgba(10, 10, 10, 0.397);
}

.box img{
    margin: 5%;
    width:90%;
    margin-bottom: 3px;
    border-radius: 15px;
}
.box p{
    padding:0 5%;
    text-align: justify;
}

.box h2{
    padding: 0 5%;
    text-align: left;

}

/* reviews section start */
.reviews{
    margin-top: 120px;
}

.reviews p{
    padding-bottom: 20px;
}
.box-reviews{
    width: 400px;
    height: 460px;
    line-height: 1.7em;
    display: inline-block;
    margin-left: 4%;
    border-radius: 25px;
    box-shadow: 10px 10px 40px rgba(10, 10, 10, 0.397);
}

.box-reviews img{
    margin: 5%;
    width:90%;
    margin-bottom: 3px;
    border-radius: 15px;
}

.box-reviews h2{
    padding: 0 5%;
    text-align: left;
}
.box-reviews p{
    padding: 0 5%;
    text-align: justify;
}

/* reviews section end */


/* Social section start here */
.social{
    display: inline-block;
    margin-left: 4%;
    padding: 20px 70px;
   

}
.social img{
    width: 70px;
}
.social-shadow{
    padding: 50px;
    margin:150px 200px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px rgba(10, 10, 10, 0.219);
}
/* Social section end here */




/* footer section start */

footer{
    background-color: #0B0D17;
    height: 230px;
}
footer h2{
    color:#828282;
    font-size: 1.7em;
    padding-top: 40px;
}

footer p{
    color: wheat;
}
/* footer section end */