body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* nav start here  */
.nav{
    text-align: center;
    color:#575757;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold
}
ul{
    width: auto;
    margin-left: 50%;
    margin-top: 10px;

}
li{
    display: inline-block;
    padding: 15px 30px;
}

/* nav end here */

section{
    margin-bottom: 50px;
}
.top-banner{
    display: flex;
    padding-left: 5%;
}

h1{
    font-size: 60px;
    margin: 0;
    padding: 0;
    color: #575757;
}
p{
    color: #828282;
}
h2{
    color:#707070;
}
.half-width{
    width: 45%;
    padding: 7% 7%;
}

.half-width img{
    width: 50%;
    height: 100%;
    padding: 2% 7%;
    margin-left: 250px;

}

.orange-color{
    color: #FC8F49;
}
.order-btn{
    background-image: linear-gradient(#FBA24F, #FF1E1E);
    padding: 13px 30px;
    text-decoration: none;
    border-radius: 25px;
    color: white;
    font-weight: 700;

}


.about-banner{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-size: contain;
    background-repeat: no-repeat;
}


/* my recipe section start here */

.my-recipe{

}

.box{
    width: 450px;
    height: 550px;

    display: inline-block;
    margin-left: 4%;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
}

.box img{
    margin: 5%;
    width:90%;
    margin-bottom: 3px;
    border-radius: 15px;


}
.box p{
    padding: 5%;

    text-align: justify;
}


/* reviews section start */

.box-reviews{
    width: 450px;
    height: 550px;

    display: inline-block;
    margin-left: 4%;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
}

.box-reviews img{
    margin: 5%;
    width:90%;
    margin-bottom: 3px;
    border-radius: 15px;


}
.box-reviews p{
    padding: 5%;

    text-align: justify;
}






/* reviews section end */
.social{
    display: inline-block;
    margin-left: 4%;
    padding: 20px 70px;
   

}
.social-shadow{
    padding: 50px;
    margin:150px 200px;
    border-radius: 20px;
    box-shadow: 5px 15px 50px gray;
}





/* footer section start */

footer{
    background-color: #3C3C3C;
    height: 230px;
}
footer h2{
    color:white;
    font-size: 1.7em;
    padding-top: 40px;
}

footer p{
    color: wheat;
}

/* footer section end */